#title{
    text-align: center;
}
a:hover{
    color: brown;
}
img{
    border-radius: 12px;
}
.secondimage{
    size: 30px;
}

#footer{
  text-align: center;
  padding: 5px;
  background-color: #5b3a29;
  color: white;
  margin-top: 2rem;
}